@w:1000px;

/*  px => rem
@unit: 1/18.75rem;
*/

body{
	color: #fff;
	display:flex;
	background: #eee;
	background: pink;
	font-size: 12px;
	width: 100%;
}
.less{
	line-height: 1.5;
	width: 110px;
	height: 110px;
	background: red;
}

