body {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  background: pink;
  font-size: 3.2vw;
  width: 100%;
}
.testVhVw {
  line-height: 1.5;
  font-size: 3.2vw;
  background: blue;
  width: 40vw;
  height: 40vw;
}
