/*
* @Author: t
* @Date:   2018-04-08 10:33:26
* @Last Modified by:   t
* @Last Modified time: 2018-12-11 19:02:22
*/
body {
  font-size: 5.33333vw;
  line-height: 26.66667vw;
  /*no*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sass {
  width: 26.66667vw;
  height: 26.66667vw;
  content: "sass";
  background: green; }
